<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<h1>99 Cats!</h1>
<body>



<% if flash[:errors]%>
  <p><%= flash[:errors].join(", ") %></p>
<% end %>


<h1>
  <% if current_user %>
    <%= current_user.user_name %>
    <form class="" action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="submit" name="" value="Logout">
    </form>
  <% else  %>
    <a href="<%= new_session_url %>">Login</a>
  <% end %>
</h1>


<%= yield %>

</body>
</html>
